<div class="main">

  <div class="form_box">

    <h2 class=page-title>パスワードの変更</h2>
       <%= form_with model: @user, url: user_registration_path,local: true do |f| %>
         <%=render 'partial/error_messages', model: f.object %>

        <div class="form-group">
          <label>現在のパスワード</label>
          <%= f.password_field :current_password,placeholder: "現在のパスワード" ,autocomplete: "current-password",class: "form-control" %>
        </div>

        <div class="form-group">
          <label>パスワード（6文字以上）</label>
          <%= f.password_field :password, autocomplete: "off", placeholder: "変更後のパスワード", class: "form-control" %>
        </div>

        <div class="form-group">
          <label>パスワード再確認</label>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワードの確認", class: "form-control" %>
        </div>
       

       
        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-primary registration-btn" %>
        </div>
        <%end%>
   </div>
 </div>
      
