<div class="main">

  <div class="form_box">

    <h2 class=page-title>ユーザ編集</h2>
       <%= form_with model: @user, url: user_path(@user), multipart: true,local: true do |f| %>
         <%=render 'partial/error_messages', model: f.object %>

         
        <div class="form-group">
          <label>名前</label>
          <%= f.text_field :name, autofocus: true, placeholder: "サッカー太郎", class: "form-control" %>
        </div>
        <div class="form-group">
          <label>電話番号（ハイフンなし）</label>
          <%= f.text_field :phone_num,  placeholder: "09012341234", class: "form-control" %>
        </div>
        <div class="form-group">
          <label>高校名（チーム名）</label>
          <%= f.text_field :team_name,  autofocus: true,placeholder: "ABC高校サッカー部", class: "form-control" %>
        </div>
        <div class="form-group">
          <label>教師歴</label>
          <%= f.collection_select(:career_id, Career.all, :id, :name, {}, {class:"select-box"}) %>
        </div>

        <div class="form-group">
          <label>プロフィール写真</label><br>
          <%= f.file_field :myphoto %>
        </div>

        <div id="image-list">
        </div>

       
        <div class="actions">
          <%= f.submit "更新する", class: "btn btn-primary registration-btn" %>
        </div>
      <% end %>
      
  </div>
</div>

<%= javascript_pack_tag 'myphoto_preview' %>


