
<div class="main">

  <h1 class="page-title">マイページ</h1>

  <div class="user_intro">
    <div class="profile_image">
      <%if @user.myphoto.attached?%>
        <%= image_tag @user.myphoto, class: "lground-img" %>
      <%else%>
        <%= image_tag '/default_myphoto.png' ,class: "lground-img"%>
      <%end%>
    </div>

    <div class="user_info">
      <p>名前：<%=@user.name%></p>
      <p>高校名：<%=@user.team_name%></p>
      <p>教師歴：<%=@user.career.name%></p>
    </div>
  </div>
  
  <%unless current_user.id==params[:id].to_i%>
    <div class="btn-zone">
      <% if current_user.following?(@user)%>
        <%=link_to "フォローを外す",user_relationship_path(@user,@relation), method: :delete,class: "btn btn-danger"  %>
      <%else%>
        <%=link_to "フォローする",user_relationships_path(@user), method: :post,class: "btn btn-info"  %>
      <%end%>
    </div>
  <%end%>


  <%if @user.id==current_user.id%>
    <div class="btn-zone">
      <%= link_to "編集する", edit_user_path(@user), method: :get, class: "btn btn-info" %>
      <%= link_to "退会する", "#", method: :get, class: "btn btn-danger" %>
    </div>
    <div class="center_margin">
    <%= link_to "戻る",root_path, method: :get, class: "btn btn-secondary center_margin" %>
    </div>
    <div class="btn-zone">
      <%= link_to "パスワードを変更したい方はこちら",edit_user_registration_path%>
    </div>
  <%end%>
</div>

<%#事故いいね一覧%>

<div class="like">
  <div class="like__box">
    <div class="like__title">いいね一覧</div>
    <% @user.liked_practices.each do |practice| %>
      <div class="like__tweet">
        <div class="like_tweet__user">
         <%if practice.user.myphoto.attached?%>
            <%=link_to (image_tag practice.user.myphoto, class: "mdround-img"),user_path(practice.user)%>
         <%else%>
            <%=link_to (image_tag '/default_myphoto.png' , class: "mdround-img"),user_path(practice.user)%>
         <%end%>
        </div>
        <div class=like_tweet__info>
          <div class="like_tweet__title"><%=link_to practice.title,practice_path(practice),class:"link_decoration"%></div>
          <div class="like_mini_info flex_space_between">
            <div id="like-<%=practice.id%>" class="m like_info">
            <%=render partial: 'likes/like',locals: {practice:practice}%>
            </div>
            <div class="created_at"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(practice.created_at) %>前</div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>


