
<% breadcrumb :user_show, @user %>

<div class="main">

  <h1 class="page-title"> <%=@user.name%>さんのページ</h1>

  <div class="user_intro">
    <div class="profile_image">
      <%if @user.myphoto.attached?%>
        <%= image_tag @user.myphoto, class: "lground-img" %>
      <%else%>
        <%= image_tag '/default_myphoto.png' ,class: "lground-img"%>
      <%end%>
    </div>

    <div class="user_info">
      <p>名前：<%=@user.name%></p>
      <p>高校名：<%=@user.team_name%></p>
      <p>教師歴：<%=@user.career.name%></p>
    </div>
  </div>
  
   
  <%if @user.id==current_user.id%>
    <div class="btn-zone">
      <%= link_to "編集する", edit_user_path(@user), method: :get, class: "btn btn-outline-info" %>
      <%= link_to "退会する", user_path(@user), method: :delete, class: "btn btn-outline-danger goodbye",data: { confirm: '本当に退会しますか?退会後は全てのデータが削除されます。' } %>
    </div>
    <div class="center_margin">
      <%= link_to "戻る",root_path, method: :get, class: "btn btn-outline-secondary center_margin" %>
    </div>
    <div class="btn-zone">
      <%= link_to "パスワードを変更したい方はこちら",edit_user_registration_path%>
    </div>
  <%else%>
      <div id="follow_form" class="btn-zone">
        <%=render partial: "partial/follow_form",locals: {user: @user,relation:@relation}%>
      </div>
    
  <%end%>
   

  <div class="tab_container">
  <%#タブの部分ーリスト%>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-expanded="true">いいね</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile">投稿</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="profile">フォロー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="profile">フォロワー</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="1-tab">
      <div class="tab_inner">
        <%=render partial: 'partial/practice',collection: @mylike_practices, as: "practice"%>
      </div>
      </div>
      <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="2-tab">
      <div class="tab_inner">
        <%=render partial: 'partial/practice',collection: @mypost_practices, as: "practice"%>
      </div>
      </div>
      <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="3-tab">
      <div class="tab_inner">
      
        <%=render partial: 'partial/friend_index',collection: @my_follows, as: "friend"%>
     
      </div>
      </div>
      <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="4-tab">
        <div class="tab_inner">

      <div id="another_follow_form" class="btn-zone">
          <%=render partial: 'partial/friend_index',collection: @my_followed, as: "friend"%>
      </div>

        </div>
      </div>
    </div>
  </div>
</div>

