<nav class="mobile-menu"><%# ハンバーガーメニュー中身（裏側に設置）%>
  <ul class="mobile-menu__main">
   <%if user_signed_in?%>
        <li class="mobile-menu__item">
          <%= link_to "マイページ",user_path(current_user),class: "main-title"%>
        </li>
        <li class="mobile-menu__item">
          <%=link_to "投稿する",new_practice_path,class: "main-title"%>
        </li>
        <li class="mobile-menu__item">
          <%=link_to "試合募集",games_path,class: "main-title"%>
        </li>
        <li class="mobile-menu__item">
          <%= link_to "ログアウト",destroy_user_session_path,method: :delete,class: "main-title"%>
        </li>
        <li class="mobile-menu__item">
          <%= link_to "通知一覧",notifications_path,class: "main-title"%>
        </li>
        <li class="mobile-menu__item">
          <%= link_to "メッセージ一覧",user_chat_rooms_path(current_user),class: "main-title"%>
        </li>
   <%else%>
      <li class="mobile-menu__item">
        <%= link_to "新規登録",new_user_registration_path,class: "main-title"%>
      </li>
      <li class="mobile-menu__item">
        <%= link_to "ログイン",new_user_session_path,class: "main-title"%>
      </li>
      <li class="mobile-menu__item">
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post ,class: "main-title"%>
      </li>
   <%end%> 
  </ul>
</nav>
