<div class="tweet_box">
  <div class=friend>
    <div class="friend__info">
       <div class="friend__img">
          <%if friend.myphoto.attached?%>
             <%=link_to (image_tag friend.myphoto, class: "smround-img"),user_path(friend)%>
          <%else%>
             <%=link_to (image_tag '/default_myphoto.png' , class: "smround-img"),user_path(friend)%>
          <%end%>
       </div>
       <div class="friend__name">
         <%=friend.name%>
       </div>
    </div>
    <div class="friend__btn">
      <%unless current_user.id==friend.id%>
        <% if current_user.following?(friend)%>
          <%=link_to "フォローを外す",user_relationship_path(friend,friend.relationships), method: :delete,class: "btn btn-danger  mobile-btn"  %>
        <%else%>
          <%=link_to "フォローする",user_relationships_path(friend), method: :post,class: "btn btn-info  mobile-btn"  %>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
