<header class="header">
  <div class="header__inner appear up">
    <div>
        <%=link_to("タイトル",root_path)%>
    </div>
    <nav class="header__nav"><%#展開時のメニュー%>
      <ul class="header__ul">
        <%if user_signed_in?%>
          <li class="header__li item">
            <%=link_to("投稿する",new_practice_path)%>
          </li>
          <li class="header__li item">
            <%= link_to(content_tag(:i, '', class: 'fas fa-envelope-open'),user_chat_rooms_path(current_user))%>
          </li>
          <li class="header__li item">
            <%if unchecked_notifications.any?%>
              <%= link_to(content_tag(:i, '', class: 'far fa-bell fa-lg'),notifications_path)%><span class="notice">●</span>
            <%else%>
              <%= link_to(content_tag(:i, '', class: 'far fa-bell fa-lg'),notifications_path)%>
            <%end%>
          </li>
          <li class="header__li item">
            <%= link_to(content_tag(:i, '', class: 'fa fa-user-circle fa-lg'),user_path(current_user))%>
          </li>
          <li class="header__li item">
             <%= link_to(content_tag(:i, '', class: 'fas fa-sign-out-alt'),destroy_user_session_path,method: :delete)%>
          </li>
        <%else%>
          <li class="header__li item">
            <%=link_to("新規登録",new_user_registration_path)%>
          </li>
          <li class="header__li item">
            <%=link_to("ログイン",new_user_session_path)%>
          </li>
          <li class="header__li item">
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post%>
          </li>
        <%end%>
      </ul>
    </nav>        
    <button class="mobile-menu__btn"><%#ハンーガーメニューボタン%>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>  
</header> 
  
