<header class="header">
  <div class="header__inner appear up">
    <div>
        <%=link_to("タイトル",root_path)%>
    </div>
    <nav class="header__nav"><%#展開時のメニュー%>
      <ul class="header__ul">
        <%if user_signed_in?%>
          <li class="header__li item">
            <%=link_to("試合募集",games_path)%>
          </li>
          <li class="header__li item">
            <%=link_to("投稿する",new_practice_path)%>
          </li>
          <li class="header__li item">
            <%if unchecked_notifications.any?%>
              <%= link_to(content_tag(:i, '', class: 'far fa-bell fa-lg'),notifications_path)%><span class="notice">●</span>
            <%else%>
              <%= link_to(content_tag(:i, '', class: 'far fa-bell fa-lg'),notifications_path)%>
            <%end%>
          </li>
          <li class="header__li item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle fa-lg"></i>   <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%=link_to "マイページ",user_path(current_user),class: "link_decoration"%></li>
              <li><%=link_to "チャット一覧",user_chat_rooms_path(current_user),class: "link_decoration"%></li>
              <li><%=link_to "予定表",user_events_path(current_user),class: "link_decoration"%></li>
              <li><%=link_to "ログアウト",destroy_user_session_path,method: :delete,class: "link_decoration"%></li>
            </ul>
          </li>
        <%else%>
          <li class="header__li item">
            <%=link_to("新規登録",new_user_registration_path)%>
          </li>
          <li class="header__li item">
            <%=link_to("ログイン",new_user_session_path)%>
          </li>
          <li class="header__li item">
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post%>
          </li>
        <%end%>
      </ul>
    </nav>        
    <button class="mobile-menu__btn"><%#ハンーガーメニューボタン%>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>  
</header> 
  
