
<div class="tweet_box">

  <div class="tweet_box__user "> <%#投稿上部の投稿者表示%>
    <div class="tweet_user">
      <div class="tweet_user__img">
         <%if practice.user.myphoto.attached?%>
            <%=link_to (image_tag practice.user.myphoto, class: "smround-img"),user_path(practice.user)%>
         <%else%>
            <%=link_to (image_tag '/default_myphoto.png' , class: "smround-img"),user_path(practice.user)%>
         <%end%>
      </div>
      <div class="tweet_user__name">      
            <%=link_to practice.user.name,user_path(practice.user),class:"tweet_name"%>           
      </div>
    </div>
    <%if user_signed_in? && current_user.id==practice.user.id%>
      <div class="gear_icon">
        <i class="fas fa-cog"></i>
      </div>
    <%end%>
      
    <div class="menu">
      <ul class="menu-list">
        <li><%=link_to "編集",edit_practice_path(practice),class:"link_decoration"%></li>        
        <li><%=link_to "削除",practice_path(practice),method: :delete,class:"link_decoration",data: { confirm: '本当に削除しますか?' } %></li>        
      </ul>
    </div>
  </div>
  <%=link_to(practice_path(practice)) do%>
    <%#binding.pry%>
    <div class="tweet_box__img img_black" style="background-image: url(<%= rails_blob_path(practice.images[0]) if practice.images[0].present?%>);"> <%#投稿写真とタイトル%>
      <div class="tweet_title">
        <%=practice.title%>
      </div> 
    </div>
  <%end%>  
  
  <div class="tweet_box__info"><%#投稿についてのミニ情報%>
    <div class="m tag_info">タグ:
      <%practice.ptags.each do |ptag|%>
       <%=ptag.name%>
      <%end%>
      </div>
    <div class="m tweet_box__flex">
      <div id="like-<%=practice.id%>" class="m like_info">
        <%=render partial: 'likes/like',locals: {practice:practice}%>
      </div>
      <div class="m created_at_info"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(practice.created_at) %>前
      </div>
    </div>
  </div>
  
</div>
