<p>このページは仮のトップページです。</p>

<<<<<<< Updated upstream
<%# ここに追加する %>
<%= link_to "仮のボタンです", "#", class: "btn btn-primary" %>
=======
<%if user_signed_in?%>
<p><%=current_user%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>


<%end%>
>>>>>>> Stashed changes
