
<%if user_signed_in?%>
<p><%=current_user%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>
<p><%=current_user.name%></p>


<%end%>

