
<div class="tweet_box">

  <div class="tweet_box__user"> <%#投稿上部の投稿者表示%>
    <div class="tweet_user">
      <div class="tweet_user__img">
         <%if @practice.user.myphoto.attached?%>
            <%=link_to (image_tag @practice.user.myphoto, class: "smround-img"),user_path(@practice.user)%>
         <%else%>
            <%=link_to (image_tag '/default_myphoto.png' , class: "smround-img"),user_path(@practice.user)%>
         <%end%>
      </div>
      <div class="tweet_user__name">
        <%=link_to "#{@practice.user.name}さんが投稿",user_path(@practice.user),class:"tweet_name"%>
      </div>
    </div>
  </div>
  
    <div class="tweet_box__img show_img" >
      <div class="slick-images">
        <%@practice.images.each do |image|%>
        <%=image_tag image ,class: "slider-img"%>
        <%end%>
      </div>
    </div>
 
  
  <div class="tweet_box__info"><%#練習詳細%>
    <div class="practice_info"><%#練習内容本文%>
      <p>練習の詳細</p>
      <div class="practice_text">
        <%=@practice.content%>
      </div>
      <div class="practice_info__content">
        <div class="hardlevel">
          <p>
            <i class="fas fa-dumbbell"></i> 負荷のレベル 
          </p>
          <p>
            <%=@practice.hardlevel.name%>
          </p>
        </div>
        <div class="category">
          <p>
            <i class="fas fa-futbol"></i> カテゴリー
          </p>
          <p>
            <%=@practice.category.name%>
          </p> 
        </div>
      </div>

    </div>

  </div>
  <div class="tweet_box__info">
    <div class="m tag_info">
       タグ:
      <%@ptags.each do |ptag|%>
       <%=ptag.name%>
      <%end%>
    </div>
    <div class="m tweet_box__flex">
      <div id="like-<%=@practice.id%>" class="m like_info">
        <%=render partial: 'likes/like',locals: {practice:@practice}%>
      </div>
      <div class="m created_at_info"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(@practice.created_at) %>前
      </div>
    </div>
  </div>
</div>

<%if current_user.id==@practice.user.id%>
  <div class="btn_field">
      <div class="btn-zone flex_reverse">
        <%= link_to "編集", edit_practice_path(@practice), method: :get, class: "btn btn-info" %>
        <%= link_to "戻る",root_path, method: :get, class: "btn btn-secondary" %>
      </div>
      <div class="delete_btn">
        <%= link_to "削除する", practice_path(@practice), method: :delete, class: "btn btn-danger" %>
      </div>
  </div>

  
<%end%>


<div class="comments">
    <h2 class="comment_title">コメント</h2>
  <div class="comments__form">
    <div class="comments__input">
      <% if user_signed_in? %>
        <%= form_with(model: [@practice, @pcomment]) do |f| %>
          <%=render 'partial/error_messages', model: f.object%>
          <%= f.text_area :comment, placeholder: "例）その練習とても参考になります！", class: "form-control",rows: "4" %>
          <%= f.submit "コメントする",class:"btn btn-outline-success comment-btn" %>
        <% end %>
      <% end %>  
    </div>
    <div class="comment-line"></div>
      <div id="comments_box">
        
        <%= render partial: "partial/pcomment_box",collection:@pcomments,as: "pcomment",locals:{practice:@practice}%>
         
      </div>
  </div>
</div>


