<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <%#以下slick%>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>
    <div id="global-container">
      <div id="container">   <%#ハンバーガーメニューを押した際に横にずれる画面%>  
        <div class="mobile-menu__cover"></div><%#ずれた時に暗くするための薄膜の役目%>
        <%= render partial: 'partial/header'%><%#headerメニュー%>
        <%= render partial: 'partial/flash'%><%#フラッシュ部分%>
       <div class="main-text">
         <div class="breadcrumb">
          <%= breadcrumbs separator: " &rsaquo; " %>
         </div>   
         <%= yield %>  <%#本文%>
       </div>
      </div>
       <%= render partial: 'partial/backmenu'%><%#ハンバーガーメニューの裏側分%>
    </div>
    <%= javascript_pack_tag 'navbar' %> <%#ここに記載すると共通のレイアウトとなる%>
  </body>
</html>
